# python dev junk
.idea
*.pyc
*__pycache__*
Pipfile.lock
# Do not store the pickly stuff of nohup outfiles
*.pk
*.out
# So I don't have to update this everytime I change computers...
Pipfile
# local memory file
_MPCI_MEMORY.pk